html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(248, 248, 248) 50%,
    rgb(137, 202, 204) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.search-form {
  display: block;
  margin: 0 auto;
}

.card {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.city {
  font-size: 70px;
  opacity: 50%;
}
.location {
  display: block;
  margin: 0 auto;
  border: none;
}
a {
  text-decoration: none;
}

.card {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.date {
  text-align: left;
  font-size: 14px;

  color: rgb(48, 99, 99);
}
footer {
  text-align: center;
  font-size: 14px;
  color: rgb(158, 145, 145);
}
strong {
  color: rgb(117, 201, 138);
}
.weather {
  margin-bottom: 100px;
  margin-top: 50px;
}
