body {
  font-family: sans-serif;
}
.search-form {
  display: block;
  margin: 0 auto;
}
body {
  background-color: burlywood;
  display: block;
}
.row {
  margin-top: 60px;
  background-color: lightblue;
}
.card {
  text-align: center;
  background-color: blanchedalmond;
}
.city {
  font-size: 70px;
}
.location {
  display: block;
  margin: 0 auto;
  border: none;
}
a {
  display: block;
  margin: 0 auto;
}
